openapi: '3.0.0'
info:
  version: 1.0.0
  title: AetherFlow API
  license:
    name: MIT
servers:
  - url: https://api.aetherflow.com/v1
paths:
  /workflows:
    get:
      tags:
        - Workflows
      summary: List all workflows
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of workflows
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Workflows
      summary: Create a workflow
      operationId: createWorkflow
      responses:
        '201':
          description: Workflow created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workflows/{workflowId}:
    get:
      tags:
        - Workflows
      summary: Retrieve a specific workflow
      operationId: getWorkflowById
      parameters:
        - name: workflowId
          in: path
          required: true
          description: The ID of the workflow to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /integrations:
    get:
      tags:
        - Integrations
      summary: List connected integrations
      operationId: listIntegrations
      parameters:
        - name: type
          in: query
          description: Filter by integration type like communication or productivity
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A list of active integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Integrations
      summary: Add a new integration
      operationId: createIntegration
      responses:
        '201':
          description: Integration added successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Workflow:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        prompt:
          type: string
    Workflows:
      type: array
      items:
        $ref: '#/components/schemas/Workflow'
    Integration:
      required:
        - id
        - app
      properties:
        id:
          type: integer
          format: int64
        app:
          type: string
    Integrations:
      type: array
      items:
        $ref: '#/components/schemas/Integration'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string